.navbar{
    margin-bottom: 0px;
    letter-spacing: 1px;
    font-size: 18px;

        }

.hr1{margin-top: 1px;height: 0px; border: none; border-top: 1px solid black;}
.lane-one img{width: 320px; height: 320px;}
.lane-two img{width: 320px; height: 320px;}
.hr2{height: 0px; border: none; border-top: 1px solid black;}
.about-us{text-align: center;}



